<!-- Nav -->
<% if (currentUser) { %>
  <ul class="enter-nav">
    <li class="list-nav"><a href="/">Home</a></li>
    <li class="list-nav"><a href="/logout">Logout</a></li>
    <li class="inline"><i class="tiny material-icons">perm_identity</i><%= currentUser.name %></li>
  </ul>
<% } %>

<!-- Select Data Set-->
<div class="container">

    <form action="/dashboard/q-dataset" method="POST">
      <h5 for="dataset">Select Data Set From Library </h5>
      <div class="inline">
        <select id="dataset" class="dropdown" name="library">
          <!-- forEach loop with datasets in database -->
          <% userData.forEach(function(data) { %>
            <option><%= data.name %></option>
          <% }) %>
        </select>
      </div>
        <input type="submit" value="Run Dashboard" class="btn blue darken-3 header-btn waves-effect waves-light ">
    </form>

  <div>
  </div>
  <hr class="thick">
  <!-- Data Set List -->
  <div>
    <h5 class="header">My Data Set Library</h5>
    <button class="btn-floating btn-small waves-effect waves-light purple darken-3 modal-trigger" data-toggle="modal" data-target="dataset-modal"><i class="tiny material-icons">library_add</i></button>
  </div>
  <!-- forEach loop here -->
  <% userData.forEach(function(data) { %>
    <div>
      <form action="/dashboard/data/<%= data.id %>" method="POST">
        <h5 class="report inline"><%= data.name %></h5>

        <input type="submit" value="Delete" class="btn-tiny3 header-btn remove waves-effect waves-light ">

      </form>
    </div>
      <!-- Provider info -->
    <div class="dataset-box"> <!-- Dataset -->
      <div>
        <h6 class="header inline">Hospital Provider</h6>

      </div>
      <div>
        <table class="responsive-table data-table">
          <thead>
            <tr>
              <th>Provider ID</th>
              <th>Name</th>
              <th>State</th>
              <th>City</th>
              <th>Ownership</th>
              <th>Type</th>
              <th>Emergency Services</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= data.hospital.provider_id %></td>
              <td><%= data.hospital.hospital_name %></td>
              <td><%= data.hospital.state %></td>
              <td><%= data.hospital.city %></td>
              <td><%= data.hospital.hospital_ownership %></td>
              <td><%= data.hospital.hospital_type %></td>
              <td><%= data.hospital.emergency_services %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Benchmarks info -->
      <div>
        <h6 class="header">Compared against benchmark: </h6>
        <h6 class="inline"><%= data.benchmark.name %></h6>
      </div>
    </div><!-- end dataset -->
    <hr>
  <% }) %><!-- %>end for loop -->
</div>

<!-- Include New Data Set modal -->
<%- include partials/modals/newDataset.ejs %>
